services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.3.2
    command: ["start-dev", "--import-realm"]
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN_USERNAME:-admin}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-admin}
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
    ports:
      - "8081:8080"
    volumes:
      - ./import:/opt/keycloak/data/import:ro
      - keycloak_data:/opt/keycloak/data

volumes:
  keycloak_data:
